// ======================================
//  Variables
// ======================================

// Colors
$white:                 white;
$black:                 black;
$color-primary:         #564787;
$color-secondary:       #9AD4D6;
$color-background:      #F2FDFF;
$color-text:            #101935;
$color-text-highlight:  #DBCBD8;
$color-text--light:     lighten($color-text, 28%);
$color-text--dark:      darken($color-text, 28%);




//  Text / Font size
$base__font-size:     19px;
$base__line-height:   28px;
$base__letter-space:  .8px;


// Font Weights
$font-weight--thin:   100;
$font-weight--light:  250;
$font-weight--normal: 400;
$font-weight--bold:   750;
$font-weight--xbold:  950;


// Font Stacks
@import url(https://fonts.googleapis.com/css?family=Concert+One);
$font-url--google:       "https://fonts.googleapis.com/css?family=Concert+One";
$font-family--primary:   'Concert One', cursive;
$font-family--secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;


// Breakpoints
$brkpoint-sm: 1px;
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;
